<!DOCTYPE html>
<html lang="en">
  <head>
          <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://bootstrap-4.ru/docs/5.2/assets/css/docs.css" rel="stylesheet">
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
    <title>Search</title>
    <link rel="stylesheet" href="{{url_for('static', filename='/css/bootstrap.min.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" />
    <meta name="viewport" content="width=device-width" />

   
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">



  </head>
    <body>
       <script src="{{url_for('static', filename='css/main.js')}}"></script>
   <header>
      
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light badge-light border-bottom box-shadow mb-3">
        <div class="container">
            <div class="image">
                <a href="https://zakupki.mos.ru/"><img src={{url_for('static', filename='img/pp_logo.svg' )}} draggable="false" class="displayed" width="90%" align="middle" vspace="0px"></a>
           
            </div>
            
            <a class="nav-link text-dark" asp-area="" href="/" aria-current="page">MISIShunters</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" href="/" aria-current="page">Home</a>
                    </li>
        
                </ul>
                <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Параметры</button>
                <div class="container-fluid">
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name='query' value="{{query}}">
                        <button class="btn btn-outline-primary" type="submit">Search</button>
                    </form>

                </div>

            </div>

        </div>

    </nav>

</header>



<!-- Всплывающий справа поиск -->

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasRightLabel">Параметры поиска</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Закрыть"></button>
        </div>
        
        <div class="offcanvas-body">
            <form class="d-flex">
            <div class="container-fluid">
                
                    <div class="container">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name='query'>
                    <button class="btn btn-outline-primary" type="submit">Search</button><br>
                    </div>
                <br>
                <div class="container">
                    <h6>Статус</h6> 
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="status" id="id_1" value="all" checked>
                  <label class="form-check-label" for="flexRadioDefault1" >
                    Все закупки
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="status" id="id_2" value="active">
                  <label class="form-check-label" for="flexRadioDefault2">
                    Активные
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="status" id="id_3" value="closed">
                  <label class="form-check-label" for="flexRadioDefault3">
                    Завершенные
                  </label>
                </div>
            </div>
                <br>
                <div class="container">
                    <h6>Цена,₽ </h6> 
                    <div class="input-group">
                      <span class="input-group-text">с</span>
                      <input class="form-control" type="text" id="coastStartRequest" name='startPrice'>
                        <span class="input-group-text">по</span>
                      <input class="form-control" type="text" id="coastEndRequest" name='endPrice'>
                    </div>
            </div>
                    </div>
                </form>
            
            <h1 class="display-4"> </h1><br>
            
        </div>
    </div>
<!-- вывод соо о том, что ничего не ввели -->
    {% if query == '' %}
            <svg xmlns="http://www.w3.org/2000/svg" style="display: none">
      <symbol id="exclamation-triangle-fill" viewBox="0 0 16 16">
        <path
          d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
        ></path>
      </symbol>
    </svg>


    <div class="alert alert-warning d-flex align-items-center" role="alert">
      <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Warning:">
        <use xlink:href="#exclamation-triangle-fill"></use>
      </svg>
      <div>Вы ничего не ввели...</div>
    </div>

    {% endif %}


{% if query != '' %}
<!-- вывод соо о том, что поиск прошел успешно -->
    {% if results != '' %}
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
      <symbol id="check-circle-fill" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
      </symbol>
    </svg>

    <div class="alert alert-success d-flex align-items-center" role="alert">
      <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"></use></svg>
        <div>Found documents in {{ time }} seconds.&nbsp; Искать в категории&nbsp;</div>
        <a asp-area="" href="/Category.html" aria-current="page"> {{category}}</a>.
    </div>

    {% endif %}
<!-- вывод соо о том, что поиск не получился -->
    {% if results == '' %}
            <svg xmlns="http://www.w3.org/2000/svg" style="display: none">
      <symbol id="exclamation-triangle-fill" viewBox="0 0 16 16">
        <path
          d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
        ></path>
      </symbol>
    </svg>


    <div class="alert alert-warning d-flex align-items-center" role="alert">
      <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Warning:">
        <use xlink:href="#exclamation-triangle-fill"></use>
      </svg>
      <div>Ничего не найдено...</div>
    </div>

    {% endif %}
{% endif %}



<!-- вывод карточек товаров -->
{% for i, name, title, description in results %}
        <div class="container">
            <main role="main" class="pb-3">

                <div class="card w-100">
                  <div class="card-body">
                    <h5 class="card-title">{{ name }}</h5>
                    <p class="card-text">{{ title }}</p>
                    <div class="accordion accordion-flush" id="accordionFlushExample" >
                      <div class="accordion-item">
                        <h2 class="accordion-header">
                          <button
                            class="accordion-button collapsed"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#flush-{{i}}"
                            aria-expanded="false"
                          >
                            Подробнее
                          </button>
                        </h2>
                        <div
                          id="flush-{{i}}"
                          class="accordion-collapse collapse"
                          data-bs-parent="#accordionFlushExample"
                          style=""
                        >
                          <div class="accordion-body">

                              <pre>
                                  <h5>
                            {{description}}
                                  </h5>>
                              </pre>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

            </main>
        </div>
    {% endfor %}



  <!-- футер -->
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - MISIShunters - <a asp-area="" href="/Privacy.html" aria-current="page">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/js/main.js" ></script>

s
  </body>
</html>