<!DOCTYPE html>
<html lang="en">
  <head>
          <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://bootstrap-4.ru/docs/5.2/assets/css/docs.css" rel="stylesheet">
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
    <title>Search</title>
    <script type="module" src="main.js"></script>
      <link rel="stylesheet" href="main.css" />
    <meta name="viewport" content="width=device-width" />

   
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">

   

  </head>
    <body>
  <header>
      
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light badge-light border-bottom box-shadow mb-3">
        <div class="container">
            <div class="image">
                <a href="https://zakupki.mos.ru/"><img src="pp_logo.svg" draggable="false" class="displayed" width="90%" align="middle" vspace="0px"></a>
           
            </div>
            
            <a class="nav-link text-dark" asp-area="" href="/" aria-current="page">MISIShunters</a>
                                                                                   
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" href="/" aria-current="page">Home</a>
                    </li>
                
                </ul>
                <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Параметры</button>
                
                <div class="container-fluid">
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name='query' value="{{query}}">
                        <button class="btn btn-outline-primary" type="submit">Search</button>
                    </form>

                </div>

            </div>

        

    </nav>

</header>



<!-- Всплывающий справа поиск -->


    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasRightLabel">Параметры поиска</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Закрыть"></button>
        </div>
        <div class="offcanvas-body">
            <div class="container-fluid">
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name='query' value="{{query}}">
                    <button class="btn btn-outline-primary" type="submit" >Search</button><br>
                </form>
                <br>
                <div class="container">
                    <h6>Статус</h6> 
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="all" checked>
                  <label class="form-check-label" for="flexRadioDefault1" >
                    Все закупки
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value="active">
                  <label class="form-check-label" for="flexRadioDefault2">
                    Активные
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" value="closed">
                  <label class="form-check-label" for="flexRadioDefault3">
                    Завершенные
                  </label>
                </div>
            </div>
                <br>
                <div class="container">
                    <h6>Цена,₽ </h6> 
                    <div class="input-group">
                      <span class="input-group-text">с</span>
                      <input type="text" aria-label="start" class="form-control" name="start" value="{{start}}" >
                        <span class="input-group-text">по</span>
                      <input type="text" aria-label="end" name="end" class="form-control" value="{{end}}">
                    </div>
            </div>
                </div>
            <h1 class="display-4"> </h1><br>
            


            
        </div>
    </div>

<!-- вывод соо о том, что поиск прошел успешно -->
    {% if query != '' %}
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
      <symbol id="check-circle-fill" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
      </symbol>
    </svg>

    <div class="alert alert-success d-flex align-items-center" role="alert">
      <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"></use></svg>
      <div>Found documents in {{ time }} seconds.</div>
    </div>
    
    {% endif %}

    {% if что-то с тем, что написали хуево, наверное просить у алины идентификатор какой-то' %}
    <div class="container">
            <a>Показаны результаты по запросу {{query_output}}<br>
           Искать вместо этого <a asp-area="" href="/Search.html" aria-current="page">{{query}}</a></a>
        </div>
    {% endif %}

    {% if отработал берт, тоже идентификатор' %}
    <div class="container">
            <a>Показаны результаты в категории {{category}}<br>
           <a asp-area="" href="/Search.html" aria-current="page">Посмотреть все результаты поиска</a></a>
        </div>
    {% endif %}

<!-- вывод карточек товаров -->
{% for i, name, title, description in results %}
        <div class="container">
            <main role="main" class="pb-3">

                <div class="card w-100">
                  <div class="card-body">
                    <h5 class="card-title">{{ name }}</h5>
                    <p class="card-text">{{ title }}</p>
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                      <div class="accordion-item">
                        <h2 class="accordion-header">
                          <button
                            class="accordion-button collapsed"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#flush-{{i}}"
                            aria-expanded="false"                            
                          >
                            Подробнее
                          </button>
                        </h2>
                        <div
                          id="flush-{{i}}"
                          class="accordion-collapse collapse"
                          data-bs-parent="#accordionFlushExample"
                          style=""
                        >
                          <div class="accordion-body">
                            {{description}}
                          </div>
                        </div>
                      </div>      
                    </div>
                  </div>
                </div>

            </main>
        </div>
    {% endfor %}
        




  <!-- футер -->
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - MISIShunters - <a asp-area="" href="/Privacy.html" aria-current="page">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="main.js" asp-append-version="true"></script>


</body>
  </body>
</html>
